<ul class="cls-left-panel">
    <li><a href="@Url.Action("Index", "DashBroad")">DashBroad</a></li>
    <li><a href="@Url.Action("Index", "Category")">Category</a></li>
    <li><a href="@Url.Action("Index", "Article")">Article</a></li>
</ul>